html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

body {
  background-color:#F8F3EE;
  color:#F8F3EE;
  font-family: 'Quicksand', sans-serif;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

#body-wrapper {
  width:770px;
  height:510px;
  /*margin:10px;*/
  padding:0;
  position:absolute;
  /*top:15%;*/
  top:calc(50% - 255px);
  left:calc(50% - 385px);
  /*left:12%;*/
}

.sq-component {
  position:fixed;
  width:250px;
  height:250px;
  border-radius:2px;
}

.tall-component {
  position:fixed;
  width:250px;
  height:510px;
  border-radius:2px;
}

#clock {
  padding:30px;
  display:flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: column;
}

#clock-face {
  min-width:123px;
  min-height:123px; 
  z-index:10;
  position: relative;
}

#hour-hand {
  top:33px;
  left:58px;
  z-index:12;
  position: absolute;
}

#min-hand {
  top:12px;
  left:59px;
  z-index:13;
  position: absolute;
}

#sec-hand {
  top:15px;
  left:60px;
  z-index:110;
  position: absolute;
}

#time {
  font-size:42px;
}

.first {
  margin-right:10px;
  margin-bottom:10px;
  position: absolute;
  top:0;
  left:0;
}

.bottom-first {
  margin-right:10px;
  position: absolute;
  top:260px;
  left:0;
}

.second {
  margin-right:10px;
  margin-bottom:10px;
  position: absolute;
  top:0;
  left:260px;
}

.bottom-second {
  margin-right:10px;
  position: absolute;
  top:260px;
  left:260px;
}

.third {
  position: absolute;
  top:0;
  left:520px;
}

#date-comp {
  padding: 30px;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#date {
  font-size:100px;
  line-height: 100px;
}

.yellow {
  background-color:#F6A715;
}
.ltblue {
  background-color: #3FC6FD;
}
.blue {
  background-color:#4990E2;
}
.ltred {
  background-color: #CD6878;
}
.red {
  background-color: #DA4E28;
}
.green {
  background-color: #21CE99;
}

#weather {
  padding:30px;
}

#forecast {
  height:100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: column;
}

#forecast .icon {
  height:80px;
  width:80px;
}

#forecast > div {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-start;
}

#forecast .fahrenheit {
  height:40px;
  width:40px;
}

#forecast span {
  line-height: 65px;
  font-size: 85px;
}

#forecast a {
  font-size:12px;
  text-decoration: none;
  color:#F8F3EE;
}

#forecast a:hover {
  text-decoration: underline;
}


#html-spinner {
  top:calc(50% - 20px);
  left:calc(50% - 20px);
  position: relative;
  width:40px;
  height:40px;
  border:4px solid #B7B7B7;
  border-top:4px solid #EEEEF1;
  border-radius:50%;

  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  
  transition-property: transform;
  animation-name: rotate; 
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
 
@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
 
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
